/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.border {
    -fx-background-image:url('file:/C:/Users/bruno/Desktop/Unoesc/ProgApl/ControleFrota/imgs/bgprincipal.png/');
}

.pane {
    -fx-background-image:url('file:/C:/Users/bruno/Desktop/Unoesc/ProgApl/ControleFrota/imgs/bgprincipal.png/');
}

.ScrollPane {
    -fx-background-image:url('file:/C:/Users/bruno/Desktop/Unoesc/ProgApl/ControleFrota/imgs/bgprincipal.png/');
}
